/* dropdown */
dropdown{ 
    display: inline-block; vertical-align: bottom; width: 100%; font-family: "Source Sans Pro", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
    .dropdown {
        display: block;
        label{ font-weight:400; text-rendering: geometricPrecision; margin:0; cursor: pointer; padding: .572em .75em; display: flex; width: auto; position: relative; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
        label::after {
            content: ""; background: url("data:image/svg+xml, %3Csvg fill='%23444444' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E") no-repeat; background-size: 1.35em 1.35em; width: 1.35em; height: 1.35em; margin: 0.1em 0 0;
        }
        .list { 
            position: relative;
            .inner{ 
                display:none; top:0em; left: 0; padding-top: 2px; position: absolute; z-index: 999;
            }
            ul { 
                margin:0; padding: 0; overflow: hidden; overflow-y: auto; max-height: 320px; background-color: #fff; box-shadow: 0 4px 10px -1px rgba(0,0,0,0.1);
                li { 
                    list-style: none; padding: .572em 1.125em .572em .75em; cursor: pointer; border-bottom: 1px solid #eee; min-width: 4em; color:#666; white-space: nowrap; text-align: left;
                    &:last-child { border-bottom: none }
                    &.selected { color: #000 }
                }
                li:hover,
                li.selected { background-color: #f4f4f4; color: #000 }
            }
        }
        &:focus {outline: 0 none }
        &.open{
            .list {
                .inner { display: block; width: 100%; }
            }
        }
        &.bordered{
            border: 1px solid #aaa; display: block; background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23999999' height='24' viewBox='0 -2 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3Cpath d='M0-.75h24v24H0z' fill='none'/%3E%3C/svg%3E") #f2f2f2 no-repeat center right; background-size: 1.75em; 
            label { color: #666; padding: .572em .75em; font-size: 0.875em; }
            label::after {
                background: none;
                display: none;
            }
            &.disabled { 
                background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23cccccc' height='24' viewBox='0 -2 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3Cpath d='M0-.75h24v24H0z' fill='none'/%3E%3C/svg%3E"); background-size: 1.75em; border-color: #ddd;
            }
            &.open{
                background-color: #ddd; border-color: #aaa; color: #222;
            }
        }
        &.disabled{
            label { 
                color: #999; cursor: not-allowed;
            }
            label::after {
                background-image: url("data:image/svg+xml, %3Csvg fill='%23999999' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");
            }
            label,* {cursor: not-allowed;}
        }
        /* In case we replace the dropdown with an input */
        .dropdown-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #666;
            opacity: 1; /* Firefox */
        }
        
        .dropdown-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:#666;
        }
        
        .dropdown-input::-ms-input-placeholder { /* Microsoft Edge */
            color: #666;
        }
    }
    &.wrong{
        .dropdown{
            label{ color: #a02222 }
            label::after {
                background-image: url("data:image/svg+xml, %3Csvg fill='%23a02222' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");
            }
            &.bordered,
            &.bordered.open{
                border-color: #d48c8c; background-color:#f6eaea; background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23a02222' height='24' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3Cpath d='M0-.75h24v24H0z' fill='none'/%3E%3C/svg%3E");
            }
            &.bordered label,
            &.bordered.open label { color: #a02222 }
            &.bordered{

            }
        }
    }
}

.floatRight.dropdown.open .list .inner,
dropdown.floatRight .dropdown.open .list .inner { left: auto; right: 0 }


.night{
    dropdown{ 
        .dropdown {
            label{ 
            
            }
            label::after {
                background-image: url("data:image/svg+xml, %3Csvg fill='%23999999' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");
            }
            .list { 
                .inner{ 
                }
                ul { 
                    background-color: #333;
                    li { 
                        border-bottom-color:#111; color:#ccc;
                    }
                    li:hover,
                    li.selected {
                        background-color: #444; color:#ccc;
                    }
                    li.selected{color:#eee}
                }
            }
            &:focus {}
            &.open{
                .list {
                    .inner {
                    }
                }
            }
            &.bordered{
                background-color: #333; border-color:#111; background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23999999' height='24' viewBox='0 -2 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3Cpath d='M0-.75h24v24H0z' fill='none'/%3E%3C/svg%3E"); background-size: 1.75em;
                label { 
                    color:#ccc;
                }
                label::after {
                }
                &.disabled { 
                }
                &.open{
                    background-color: #111; border-color: #111; color: #ccc;
                }
            }
            &.disabled{
                label { 
                    color: #666;
                }
                label::after {
                    background-image: url("data:image/svg+xml, %3Csvg fill='%23999999' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");
                }
                label,* {
                    
                }
            }
            /* In case we replace the dropdown with an input */
            .dropdown-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #ccc;
            }
            
            .dropdown-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color:#ccc;
            }
            
            .dropdown-input::-ms-input-placeholder { /* Microsoft Edge */
                color: #ccc;
            }
        }
        &.wrong{
            .dropdown{
                label{ color: #da5a5a }
                label::after {
                    background-image: url("data:image/svg+xml, %3Csvg fill='%23a02222' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");
                }
                &.bordered,
                &.bordered.open{
                    background-color: #471f1f;
                    border-color: #1a0a0a;
                    color: #da5a5a;
                    background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23e0b8b8' height='24' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3Cpath d='M0-.75h24v24H0z' fill='none'/%3E%3C/svg%3E");
                }
                &.bordered label,
                &.bordered.open label {
                    color: #da5a5a;
                }
                &.bordered{
    
                }
            }
        }
    }
}
