/* Pagination */
pagination { font-family: "Source Sans Pro", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif }
pagination .pagination { padding: 0; display: inline-block }
pagination .pagination *{ display: inline-block; float: left }
pagination .pagination li{ margin-bottom:0.1em; overflow: hidden; cursor: pointer }
pagination .pagination li.selected{ background-color: #f2f2f2; cursor: default }
.night pagination .pagination li.selected{ background-color:#181818 }
pagination .pagination li:first-child{ border-radius: .3em 0 0 .3em }
pagination .pagination li:first-child:last-child{ display: none }
pagination .pagination li:last-child{ border-right-width:1px; border-radius: 0 .3em .3em 0 }
pagination .pagination li a{ padding:.572em .75em }
pagination .pagination li a:hover{ background-color: #eee }
.night pagination .pagination li a:hover{ background-color: #111 }
pagination .pagination li.selected a:hover { background-color: #eee }
.night pagination .pagination li.selected a:hover { background-color: #111 }
pagination .pagination .pages{padding:.572em .75em 0.55em 0}
