/* Loading Popup */
@-webkit-keyframes rotatePart {
    0% { -webkit-transform: rotate(0deg) }
    40% { -webkit-transform: rotate(80deg) }
    75% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(0deg) }
}
@keyframes rotatePart {
    0% { transform: rotate(0deg) }
    40% { transform: rotate(80deg) }
    75% { transform: rotate(0deg) }
    100% { transform: rotate(0deg) }
}
@keyframes spinner {
    to { transform: rotate(360deg) }
}
.loadingPopup{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 999; background-color: rgba(255,255,255,0.92) }
.night .loadingPopup{ background-color: rgba(0,0,0,0.92) }
.loader { font-size: 0.4999em; position: relative; top: 50%; left: 50%; width: 6em; height: 6em; margin: -5em 0 0 -3em; -webkit-box-sizing: initial; -moz-box-sizing: initial; box-sizing: initial; -webkit-animation: spinner 1s cubic-bezier(0.8,.21,.25,.89) infinite; -moz-animation: spinner 1s cubic-bezier(0.8,.21,.25,.89) infinite; animation: spinner 1s cubic-bezier(0.8,.21,.25,.89) infinite }
.loader .circular { height: 6em; width: 6em; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: 0 }
.loader .circular.circ1{ z-index: 2; -ms-transform: rotate(80deg); -webkit-transform: rotate(80deg); transform: rotate(80deg) }
.loader .circular.circ2{ z-index: 1; -webkit-animation: rotatePart 1s linear infinite; -moz-animation: rotatePart 1s linear infinite; animation: rotatePart 1s linear infinite }
.loader .cutCircule{ overflow: hidden; width: 50%; height: 50% }
.loader .circule{ border-radius: 4em; border:0.5em solid #005e9d; width: 6em; height: 6em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.night .loader .circule{ border-color: #ccc;}
.loader .circuleTip{ background-color: #005e9d; width: .499em; height: .499em; border-radius: 0.5em; position: absolute }
.night .loader .circuleTip{ background-color: #ccc}
.loader .circular.circ1 .circuleTip{ left: 2.75em;top:0em }
.loader .circular.circ2 .circuleTip{ left: 0;top:2.75em }
.loadingMessage{ font-family: "Source Sans Pro", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif; color:#005e9d; top:50%; left: 0; width: 100%; position:absolute; text-align: center; margin: 1em 0 0 }
.night .loadingMessage{color:#ccc}