<div class="loadingPopup" ng-if="$ctrl.show">
	<!-- If you want to change the size, please use multiples of 4px -->
	<div class="loader">
    	<div class="circular circ1">
    		<div class="cutCircule">
    			<div class="circule"></div>
    		</div>
    		<div class="circuleTip"></div>
      	</div>
      	<div class="circular circ2">
      		<div class="cutCircule">
    			<div class="circule"></div>
    		</div>
    		<div class="circuleTip"></div>
    	</div>
	</div>
	<span class="loadingMessage">{{$ctrl.nguiLabel}}</span>
</div>
