/* List */
list { 
    color: #333; font-family: "Source Sans Pro", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    list-item { 
        .list-item { 
            position: relative;
            ng-transclude { 
                display: block;
                list-item-fold { 
                    width: 100%;
                    .list-item-fold { 
                        width: 100%; padding: .55em 5em 0.55em 0; border-bottom: 1px solid #ddd; transition: border-bottom-color 0.1s ease-out; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
                        * { 
                            -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
                        }
                    }
                }
                list-item-expand {
                    .list-item-expand {
                        background-color: #fafafa; box-shadow: inset 0 2px 7px -4px rgba(0,0,0,.2); overflow: hidden; max-height: 0; transition: max-height 0.5s ease-out, border-bottom-color 0.1s ease-out; border-bottom-color: transparent;
                        ng-transclude {
                            padding: 0.65em 5em .5em 0; display: inline-block; width: 100%;
                            label{
                                margin-bottom: initial;
                            }
                            * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
                        }
                    }
                }
            }
            span {
                &.toggle,
                &.delete { 
                    position: absolute; top: 0; cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }
                &.toggle {
                    right: 0em; width: 2.25em; height: 2.35em; background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23999999' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3Cpath d='M0-.75h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat center; background-size: 1.5em; transition: transform 0.5s cubic-bezier(.36,-0.64,.34,1.76); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); opacity: 0.5;
                }
                &.delete {
                    right: 2.5em; width: 2em; height: 2.35em; background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23999999' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E' %3Cpath d='M0 0h24v24H0z' fill='none'/%3E' %3Cpath d='M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z'/%3E'%3C/svg%3E") no-repeat center; background-size: 1.25em; -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); opacity: 0.5;
                    &:hover {
                        background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23A02222' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E' %3Cpath d='M0 0h24v24H0z' fill='none'/%3E' %3Cpath d='M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z'/%3E'%3C/svg%3E") no-repeat center; background-size: 1.25em; width: 2em; height: 2.35em;
                    }
                }
            }
            &.open{
                ng-transclude { 
                    list-item-fold { 
                        .list-item-fold { 
                            border-bottom-color: transparent;
                        }
                    }
                    list-item-expand {
                        .list-item-expand {
                            max-height: 200em; border-bottom: 1px solid #ddd; overflow: visible;
                        }
                    }
                }
                span {
                    &.toggle {
                        -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);
                    }
                }
            }
        }
        &:nth-child(even){
            .list-item{ background-color: #fcfcfc}
        }
    }
}
.night { 
    list {
        color: #ccc; 
        list-item { 
            .list-item { 
                ng-transclude { 
                    list-item-fold { 
                        .list-item-fold {
                            border-bottom-color:#181818;
                        }
                    }
                    list-item-expand {
                        .list-item-expand {
                            background-color: #181818;
                        }
                    }
                }
                span {
                    &.toggle {
                    }
                    &.delete {
                        &:hover {
                            background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23ff6666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E' %3Cpath d='M0 0h24v24H0z' fill='none'/%3E' %3Cpath d='M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z'/%3E'%3C/svg%3E");
                        }
                    }
                }
                &.open{
                    ng-transclude { 
                        list-item-fold { 
                            .list-item-fold { 
                                border-bottom-color: transparent;
                            }
                        }
                        list-item-expand {
                            .list-item-expand {
                                border-bottom-color:#111;
                            }
                        }
                    }
                }
            }
            &:nth-child(even){
                .list-item{ 
                    background-color: #282828;
                }
            }
        }
    }
}