<div class="tab">
    <div class="tabs" ng-blur="$ctrl.onBlur()" ng-focus="$ctrl.onFocus()" ng-class="{'open': $ctrl.opened, 'bordered': $ctrl.bordered, 'disabled': $ctrl.disabled }"> 
        <ul>
            <li ng-repeat="option in $ctrl.options track by $index"
                ng-click="$ctrl.changeOption(option)"
                ng-class="{'current': $ctrl.nguiModel === option }">{{option}}</li>
            <li ng-if="$ctrl.options.length == 0">No options</li>
        </ul>
    </div>
</div>
