/* Hamburger */
hamburger {}
.hamburger {width: 24px; height: 14px; position: relative; display: inline-block; -webkit-transform: rotate(0); -moz-transform: rotate(0); -o-transform: rotate(0); transform: rotate(0); cursor: pointer; }
.hamburger span:nth-child(1) { top: 0; }
.hamburger.open span:nth-child(1){ top: 8px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }
.hamburger span:nth-child(2) { top: 7px; }
.hamburger.open span:nth-child(2) { opacity: 0; }
.hamburger span:nth-child(3) { top: 14px; }
.hamburger.open span:nth-child(3){ top: 8px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.hamburger span { display: block; position: absolute; height: 2px; width: 100%; background-color: #005e9d; opacity: 1; left: 0; -webkit-transform: rotate(0); -moz-transform: rotate(0); -o-transform: rotate(0); transform: rotate(0); -webkit-transition: transform 125ms linear; -moz-transition: transform 125ms linear; -o-transition: transform 125ms linear; -ms-transition: transform 125ms linear; transition: transform 125ms linear; }
.night .hamburger span{ background-color:#ccc}