bgloader {
    width: 100%; height: 100%; display: block;
    .main, .main > div{
        background-size: cover; background-position: top center; width: 100%; height: 100%;
    }
    .main > div {
        -webkit-transition: background .5s ease-out;
        -moz-transition: background .5s ease-out;
        -o-transition: background .5s ease-out;
        transition: background .5s ease-out;
    }
}