masonry .masonry .inner > .brick,
masonry .masonry .inner > ng-transclude > *{padding:.5em}
masonry .masonry .inner > .brick > div,
masonry .masonry .inner > ng-transclude > * > div{background-color: #fcfcfc; padding: 0.5em; border-radius: .5em; box-shadow: 0 .5em .5em rgba(0,0,0,0.1)}
.night masonry .masonry .inner > .brick > div,
.night masonry .masonry .inner > ng-transclude > * > div{background-color: #282828; padding: 1em}

masonry .masonry{padding: 0px}
masonry .masonry .inner{position: relative;}
masonry .masonry .inner > .brick,
masonry .masonry .inner > ng-transclude > *{ position: absolute; transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
