masonry{display: block}
masonry .masonry{padding: 0 !important; overflow: hidden; margin: 0 auto;}
masonry .masonry .inner{padding: 0 !important; min-width: 280px; position: relative; margin: 0 auto;}
masonry .masonry .inner > .brick,
masonry .masonry .inner > ng-transclude > *{ position: absolute; padding:.5em; transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
masonry .masonry .inner > .brick > div,
masonry .masonry .inner > ng-transclude > * > div{background-color: #fcfcfc; padding: 0.5em; border-radius: .5em; box-shadow: 0 .5em .5em rgba(0,0,0,0.1)}
.night masonry .masonry .inner > .brick > div,
.night masonry .masonry .inner > ng-transclude > * > div{background-color: #282828; padding: 1em}
