modal { font-family: "Source Sans Pro", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif; }
modal hr.transparent { border:none; border-top: 1px solid transparent }
modal .modalPopup { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.75); z-index: 100 }
.night modal .modalPopup{background-color: rgba(0, 0, 0, 0.75)}
modal .modalPopup.modalBlack { background-color: rgba(0, 0, 0, 0.75) }
modal .modalContent { margin: 40px auto; max-width: 500px; min-width: 288px; padding: 1em }
modal .modalContent .ginner { background-color: #fff; padding: 1em; border-radius: 2px; width: 100%; box-shadow: 0 4px 10px -1px rgba(0,0,0,.1), 0 0px 0px 1px rgba(0,0,0,.125) }
.night modal .modalContent .ginner { background-color: #222; box-shadow: 0 4px 10px -1px rgba(0,0,0,1), 0 0px 0px 1px rgba(0,0,0,1) }
modal .modalContent .ginner .modalButtons { text-align: right }
modal .modalContent.left .ginner .modalButtons { text-align: left }
modal .modalContent.center .ginner p,
modal .modalContent.center .ginner .modalButtons { text-align: center }
