modal {}

.modalPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.modalContent {
    background-color: #fff;
    margin: 40px auto;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
}

.modalContent .modalButtons {
    text-align: right;
}
