<div class="modalPopup" ng-if="$ctrl.show" ng-class="{ 'modalBlack': $ctrl.blackBg }">
    <div class="modalContent" ng-class="{'center':$ctrl.align === 'center','left':$ctrl.align === 'left'}">
        <div class="ginner">
            <p>{{$ctrl.message}}</p>
            <custom-modal-html></custom-modal-html>
            <hr class="transparent">
            <div class="modalButtons pepe">
                <button type="button" ng-click="$ctrl.onYes()" ng-class="$ctrl.yesClass">{{$ctrl.yesButton}}</button>
                <button type="button" ng-click="$ctrl.onNo()" ng-class="$ctrl.noClass" ng-if="$ctrl.options">{{$ctrl.noButton}}</button>
            </div>
        </div>
    </div>
</div>
