datepicker {
    display: inline-block; width: 100%;
    font-family: "Source Sans Pro", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box
}
datepicker .datepicker-container {
    width: 100%;
    position: relative
}
datepicker .datepicker-container.disabled,
datepicker .datepicker-container.disabled .datepicker-input,
datepicker .datepicker-container.disabled .datepicker-fake-input input {
    color: #999;
    background-color:transparent;
}
.night datepicker .datepicker-container.disabled,
.night datepicker .datepicker-container.disabled .datepicker-input,
.night datepicker .datepicker-container.disabled .datepicker-fake-input input {
    color: #ccc;
}
datepicker .datepicker-input {
    width: 100%;
    background-color: #f9f9f9;
    padding: .572em .75em;
    border: 1px solid #aaa;
    font-size: .875em;
    color: #666;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}
.night datepicker .datepicker-input {
    background-color: #333;
    border-color: #111;
}
.night datepicker .datepicker-input span{
    color:#999
}
datepicker .datepicker-fake-input input {
    width: 1.75em;
    border: 0;
    font-size: 1em;
    outline: 0;
    text-align: center;
    color: #666;
    background-color: transparent;
    padding: 0;
}
.night datepicker .datepicker-fake-input input {
    color:#ccc
}
datepicker .datepicker-fake-input input::-webkit-outer-spin-button,
datepicker .datepicker-fake-input input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
datepicker .datepicker-fake-input input[type=number] {
    -moz-appearance: textfield;
    background-color:transparent;
}
datepicker .datepicker-icon-arrow {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23999999' height='24' viewBox='0 -1 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3Cpath d='M0-.75h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat center;
    background-size: 2em;
    height: 100%;
    width: 2em;
}
datepicker .datepicker-icon-clear {
    display: none;
    position: absolute;
    top: 0;
    right: 2em;
    cursor: pointer;
    background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23999999' height='24' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0-.75h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat center;
    background-size: 2em;
    height: 100%;
    width: 2em;
}
datepicker .datepicker-icon-clear:hover {
    color: red;
}
datepicker:hover .datepicker-icon-clear {
    display: block;
}
datepicker .datepicker-picker {
    border: 1px solid #ccc;
    background-color: white;
    position: absolute;
    top: 2.4em;
    left: 0;
    width: 100%;
    padding: 6px;
    width: 304px;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.night datepicker .datepicker-picker {
    border-color: #111;
    background-color: #333;
}
datepicker .datepicker-picker * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}
datepicker .datepicker-selector {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: bolder;
    font-size: 13px;
    color: #666;
    letter-spacing: 0.01em;
    padding: 0 9px;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.night datepicker .datepicker-selector {
    color: #999;
}
datepicker .datepicker-selector button {
    background-color: transparent;
    border: 0;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
    color: #666;
    padding: 7px 9px;
    margin: 0;
    opacity: 0.5
}
.night datepicker .datepicker-selector button {
    color: #999;
}
datepicker .datepicker-selector button:hover {
    opacity: 1
}
datepicker .datepicker-selector button.prev {
    background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23333333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E' %3Cpath d='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z'/%3E'%3C/svg%3E") no-repeat center
}
.night datepicker .datepicker-selector button.prev {
    background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23cccccc' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E' %3Cpath d='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z'/%3E'%3C/svg%3E")
}
datepicker .datepicker-selector button.next {
    background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23333333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E' %3Cpath d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z'/%3E'%3C/svg%3E") no-repeat center
}
.night datepicker .datepicker-selector button.next {
    background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%23cccccc' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E' %3Cpath d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z'/%3E'%3C/svg%3E")
}
datepicker .datepicker-selector button.prev,
datepicker .datepicker-selector button.next {
    background-size: 1.5em;
    width: 2em;
    height: 2.25em
}
datepicker .datepicker-selector span {
    padding: 5px 0;
    display: inline-block;
    font-weight: bold;
}
datepicker .datepicker-calendar {
    margin-top: 10px;
    display: inline-table;
    width: 100%
}
datepicker .datepicker-calendar * {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    width: initial;
}
datepicker .datepicker-date,
datepicker .disabled .datepicker-date:hover {
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
    color: #666;
}
.night datepicker .datepicker-date,
.night datepicker .disabled .datepicker-date:hover {
    color: #ccc;
}
datepicker .datepicker-day {
    display: inline-block;
    width: 14.2%;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    border: 1px solid #fff;
}
.night datepicker .datepicker-day {
    border-color: #333;
}
datepicker .datepicker-date:hover {
    background-color: #e8f6f9;
    color: #005e9d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.night datepicker .datepicker-date:hover {
    background-color: #222;
    color: #fff;
}
datepicker .datepicker-today {
    background-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.night datepicker .datepicker-today {
    background-color: #282828;
}
datepicker .datepicker-selected,
datepicker .datepicker-selected:hover,
datepicker .disabled .datepicker-selected,
datepicker .disabled .datepicker-selected:hover {
    background-color: #005e9d;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: .08em;
    text-align: center;
}
.night datepicker .datepicker-selected,
.night datepicker .datepicker-selected:hover,
.night datepicker .disabled .datepicker-selected,
.night datepicker .disabled .datepicker-selected:hover {
    background-color: #111;
    color: #fff;
}
datepicker .datepicker-weekday {
    font-weight: bold;
    font-size: 10px;
    color: #666;
    cursor: default;
}
.night datepicker .datepicker-weekday {
    color: #999;
}
@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.1) {
    datepicker:hover .datepicker-icon-clear {
        display: block
    }
}
