/* Button Night Classes */
.night button.btnLight,
.night .btn.btnLight,
.night a.btn.btnLight,
.night label.btn.btnLight { background-color: #282828; border-color:#000; color: #ccc; text-shadow: 0 0.5px 2px rgba(0, 0, 0, .5) }
.night button.btnGreen,
.night .btn.btnGreen,
.night a.btn.btnGreen,
.night label.btn.btnGreen { background-color: #48b55c; border-color: #111; color: #fff; text-shadow: 0 0.5px 2px rgba(0, 0, 0, .5) }
.night button.btnGreenLight,
.night .btn.btnGreenLight,
.night a.btn.btnGreenLight,
.night label.btn.btnGreenLight { background-color: #327d40; border-color: #111; color: #ccc; text-shadow: 0 0.5px 2px rgba(0, 0, 0, .5) }
.night button.btnBlue,
.night .btn.btnBlue,
.night a.btn.btnBlue,
.night label.btn.btnBlue { background-color: #2691d9; border-color:#111; color: #fff; text-shadow: 0 0.5px 2px rgba(0, 0, 0, .5) }
.night button.btnBlueLight,
.night .btn.btnBlueLight,
.night a.btn.btnBlueLight,
.night label.btn.btnBlueLight { background-color: #005691; border-color: #111; color: #ccc; text-shadow: 0 0.5px 2px rgba(0, 0, 0, .5) }
.night button.btnRed,
.night .btn.btnRed,
.night a.btn.btnRed,
.night label.btn.btnRed { background-color: #f25757; border-color: #111; color: #fff; text-shadow: 0 0.5px 2px rgba(0, 0, 0, .5) }
.night button.btnRedLight,
.night .btn.btnRedLight,
.night a.btn.btnRedLight,
.night label.btn.btnRedLight { background-color: #822b2b; border-color: #111; color: #ccc; text-shadow: 0 0.5px 2px rgba(0, 0, 0, .5) }

.night button.btnLight:hover,
.night .btn.btnLight:hover,
.night a.btn.btnLight:hover,
.night button.btnLight.selected,
.night .btn.btnLight.selected,
.night a.btn.btnLight.selected,
.night button.btnLight:active:focus,
.night .btn.btnLight:active:focus,
.night a.btn.btnLight:active:focus { background-color: #1a1a1a; border-color: #000; color: #ccc }
.night button.btnGreen:hover,
.night .btn.btnGreen:hover,
.night a.btn.btnGreen:hover,
.night button.btnGreen.selected,
.night .btn.btnGreen.selected,
.night a.btn.btnGreen.selected,
.night button.btnGreen:active:focus,
.night .btn.btnGreen:active:focus,
.night a.btn.btnGreen:active:focus { background-color: #327D40; border-color: #000; color: #fff }
.night button.btnGreenLight:hover,
.night .btn.btnGreenLight:hover,
.night a.btn.btnGreenLight:hover,
.night button.btnGreenLight.selected,
.night .btn.btnGreenLight.selected,
.night a.btn.btnGreenLight.selected,
.night button.btnGreenLight:active:focus,
.night .btn.btnGreenLight:active:focus,
.night a.btn.btnGreenLight:active:focus { background-color: #1f4729; border-color: #000; color: #ccc }
.night button.btnBlue:hover,
.night .btn.btnBlue:hover,
.night a.btn.btnBlue:hover,
.night button.btnBlue.selected,
.night .btn.btnBlue.selected,
.night a.btn.btnBlue.selected,
.night button.btnBlue:active:focus,
.night .btn.btnBlue:active:focus,
.night a.btn.btnBlue:active:focus { background-color: #005691; border-color: #000; color: #fff }
.night button.btnBlueLight:hover,
.night .btn.btnBlueLight:hover,
.night a.btn.btnBlueLight:hover,
.night button.btnBlueLight.selected,
.night .btn.btnBlueLight.selected,
.night a.btn.btnBlueLight.selected,
.night button.btnBlueLight:active:focus,
.night .btn.btnBlueLight:active:focus,
.night a.btn.btnBlueLight:active:focus { background-color: #1f3647; border-color: #000; color: #ccc }
.night button.btnRed:hover,
.night .btn.btnRed:hover,
.night a.btn.btnRed:hover,
.night button.btnRed.selected,
.night .btn.btnRed.selected,
.night a.btn.btnRed.selected,
.night button.btnRed:active:focus,
.night .btn.btnRed:active:focus,
.night a.btn.btnRed:active:focus  { background-color: #b20000; border-color: #000; color: #fff }
.night button.btnRedLight:hover,
.night .btn.btnRedLight:hover,
.night a.btn.btnRedLight:hover,
.night button.btnRedLight.selected,
.night .btn.btnRedLight.selected,
.night a.btn.btnRedLight.selected,
.night button.btnRedLight:active:focus,
.night .btn.btnRedLight:active:focus,
.night a.btn.btnRedLight:active:focus { background-color: #471f1f; border-color: #000; color: #ccc }

.night button.btnLight:disabled,
.night .btn.btnLight:disabled,
.night a.btn.btnLight:disabled,
.night label.btn.btnLight:disabled { background-color: #282828; border-color: #111; color: #666 }
.night button.btnGreen:disabled,
.night .btn.btnGreen:disabled,
.night a.btn.btnGreen:disabled,
.night label.btn.btnGreen:disabled { background-color: #1f4729; border-color:#111; color: #4e6e56; text-shadow: none }
.night button.btnGreenLight:disabled,
.night .btn.btnGreenLight:disabled,
.night a.btn.btnGreenLight:disabled,
.night label.btn.btnGreenLight:disabled { background-color: #1f4729; border-color:#111; color: #4e6e56; text-shadow: none }
.night button.btnBlue:disabled,
.night .btn.btnBlue:disabled,
.night a.btn.btnBlue:disabled,
.night label.btn.btnBlue:disabled { background-color: #1f3747; border-color:#111; color: #4e626e; text-shadow: none }
.night button.btnBlueLight:disabled,
.night .btn.btnBlueLight:disabled,
.night a.btn.btnBlueLight:disabled,
.night label.btn.btnBlueLight:disabled { background-color: #1f3747; border-color:#111; color: #4e626e; text-shadow: none }
.night button.btnRed:disabled,
.night .btn.btnRed:disabled,
.night a.btn.btnRed:disabled,
.night label.btn.btnRed:disabled { background-color: #471f1f; border-color:#111; color: #6e4e4e; text-shadow: none }
.night button.btnRedLight:disabled,
.night .btn.btnRedLight:disabled,
.night a.btn.btnRedLight:disabled,
.night label.btn.btnRedLight:disabled { background-color: #471f1f; border-color:#111; color: #6e4e4e; text-shadow: none }

/*  */
