button, .btn, a.btn {
  transition: background-color 0.4s ease;
  &:disabled {
    cursor: not-allowed;
  }
}
button+button:not(.matchParent),button+.btn:not(.matchParent),button+a.btn:not(.matchParent), .btn+.btn:not(.matchParent),.btn+button:not(.matchParent),.btn+a.btn:not(.matchParent), a.btn+button:not(.matchParent),a.btn+.btn:not(.matchParent),a.btn+a.btn:not(.matchParent) {
  margin-left: 0.25em
}
/* Button Classes */

button.btnLight, .btn.btnLight, a.btn.btnLight, label.btn.btnLight {
  background-color: #fff;
  border: 1px solid #b2b2b2;
  color: #555;
  text-shadow: none;
}

button.btnGreen, .btn.btnGreen, a.btn.btnGreen, label.btn.btnGreen {
  background-color: #48b55c;
  border: 1px solid #327d40;
  color: #fff;
  text-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.5);
}

button.btnGreenLight, .btn.btnGreenLight, a.btn.btnGreenLight, label.btn.btnGreenLight {
  background-color: #fff;
  border: 1px solid #94d19f;
  color: #327d40;
  text-shadow: none;
}

button.btnBlue, .btn.btnBlue, a.btn.btnBlue, label.btn.btnBlue {
  background-color: #2691d9;
  border: 1px solid #005691;
  color: #fff;
  text-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.5);
}

button.btnBlueLight, .btn.btnBlueLight, a.btn.btnBlueLight, label.btn.btnBlueLight {
  background-color: #fff;
  border: 1px solid #8cbad9;
  color: #005691;
  text-shadow: none;
}

button.btnRed, .btn.btnRed, a.btn.btnRed, label.btn.btnRed {
  background-color: #f25757;
  border: 1px solid #b20000;
  color: #fff;
  text-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.5);
}

button.btnRedLight, .btn.btnRedLight, a.btn.btnRedLight, label.btn.btnRedLight {
  background-color: #fff;
  border: 1px solid #ebadad;
  color: #b20000;
  text-shadow: none;
}

button.btnLight:hover, .btn.btnLight:hover, a.btn.btnLight:hover, button.btnLight.selected, .btn.btnLight.selected, a.btn.btnLight.selected, button.btnLight:active:focus, .btn.btnLight:active:focus, a.btn.btnLight:active:focus,
button.btnLight:focus, .btn.btnLight:focus, a.btn.btnLight:focus,
input[type=file].file:focus + label.btnLight {
  background-color: #f4f4f4;
  border-color: #999;
  color: #222;
}

button.btnGreen:hover, .btn.btnGreen:hover, a.btn.btnGreen:hover, button.btnGreen.selected, .btn.btnGreen.selected, a.btn.btnGreen.selected, button.btnGreen:active:focus, .btn.btnGreen:active:focus, a.btn.btnGreen:active:focus,
button.btnGreen:focus, .btn.btnGreen:focus, a.btn.btnGreen:focus,
input[type=file].file:focus + label.btnGreen {
  background-color: #327D40;
  border-color: #327D40;
  color: #fff;
}

button.btnGreenLight:hover, .btn.btnGreenLight:hover, a.btn.btnGreenLight:hover, button.btnGreenLight.selected, .btn.btnGreenLight.selected, a.btn.btnGreenLight.selected, button.btnGreenLight:active:focus, .btn.btnGreenLight:active:focus, a.btn.btnGreenLight:active:focus,
button.btnGreenLight:focus, .btn.btnGreenLight:focus, a.btn.btnGreenLight:focus,
input[type=file].file:focus + label.btnGreenLight {
  background-color: #eff9ef;
  border-color: #327d40;
  color: #327d40;
}

button.btnBlue:hover, .btn.btnBlue:hover, a.btn.btnBlue:hover, button.btnBlue.selected, .btn.btnBlue.selected, a.btn.btnBlue.selected, button.btnBlue:active:focus, .btn.btnBlue:active:focus, a.btn.btnBlue:active:focus,
button.btnBlue:focus, .btn.btnBlue:focus, a.btn.btnBlue:focus,
input[type=file].file:focus + label.btnBlue {
  background-color: #005691;
  border-color: #005691;
  color: #fff;
}

button.btnBlueLight:hover, .btn.btnBlueLight:hover, a.btn.btnBlueLight:hover, button.btnBlueLight.selected, .btn.btnBlueLight.selected, a.btn.btnBlueLight.selected, button.btnBlueLight:active:focus, .btn.btnBlueLight:active:focus, a.btn.btnBlueLight:active:focus,
button.btnBlueLight:focus, .btn.btnBlueLight:focus, a.btn.btnBlueLight:focus,
input[type=file].file:focus + label.btnBlueLight {
  background-color: #e8f6f9;
  border-color: #005691;
  color: #005691;
}

button.btnRed:hover, .btn.btnRed:hover, a.btn.btnRed:hover, button.btnRed.selected, .btn.btnRed.selected, a.btn.btnRed.selected, button.btnRed:active:focus, .btn.btnRed:active:focus, a.btn.btnRed:active:focus,
button.btnRed:focus, .btn.btnRed:focus, a.btn.btnRed:focus,
input[type=file].file:focus + label.btnRed {
  background-color: #b20000;
  border-color: #b20000;
  color: #fff;
}

button.btnRedLight:hover, .btn.btnRedLight:hover, a.btn.btnRedLight:hover, button.btnRedLight.selected, .btn.btnRedLight.selected, a.btn.btnRedLight.selected, button.btnRedLight:active:focus, .btn.btnRedLight:active:focus, a.btn.btnRedLight:active:focus,
button.btnRedLight:focus, .btn.btnRedLight:focus, a.btn.btnRedLight:focus,
input[type=file].file:focus + label.btnRedLight {
  background-color: #fff3f3;
  border-color: #b20000;
  color: #b20000;
}

.btnGreen {
  &:link, &:visited, &:active {
    color: #eee;
  }
  &:hover {
    color: #fff;
  }
}

button:focus, .btn:focus {
  outline: none;
}

button.btnLight:disabled, .btn.btnLight:disabled, a.btn.btnLight:disabled, label.btn.btnLight:disabled {
  background-color: #fff;
  border: 1px solid #b2b2b2;
  color: #a6a6a6;
}

button.btnGreen:disabled, .btn.btnGreen:disabled, a.btn.btnGreen:disabled, label.btn.btnGreen:disabled {
  background-color: #dbebde;
  border: 1px solid #7ea986;
  color: #7ea986;
  text-shadow: none;
}

button.btnGreenLight:disabled, .btn.btnGreenLight:disabled, a.btn.btnGreenLight:disabled, label.btn.btnGreenLight:disabled {
  background-color: #f2f2f2;
  border: 1px solid #94d19f;
  color: #8bcb97;
  text-shadow: none;
}

button.btnBlue:disabled, .btn.btnBlue:disabled, a.btn.btnBlue:disabled, label.btn.btnBlue:disabled {
  background-color: #dee7ed;
  border: 1px solid #859dad;
  color: #859cad;
  text-shadow: none;
}

button.btnBlueLight:disabled, .btn.btnBlueLight:disabled, a.btn.btnBlueLight:disabled, label.btn.btnBlueLight:disabled {
  background-color: #f2f2f2;
  border: 1px solid #8cbad9;
  color: #8cbad9;
  text-shadow: none;
}

button.btnRed:disabled, .btn.btnRed:disabled, a.btn.btnRed:disabled, label.btn.btnRed:disabled {
  background-color: #ebdbdb;
  border: 1px solid #a97e7e;
  color: #a97e7e;
  text-shadow: none;
}

button.btnRedLight:disabled, .btn.btnRedLight:disabled, a.btn.btnRedLight:disabled, label.btn.btnRedLight:disabled {
  background-color: #f2f2f2;
  border: 1px solid #ebadad;
  color: #ebb1b1;
  text-shadow: none;
}

.material-icons {
  &.btnBlue {
    color: #2691d9;
    &:hover, &:active:focus {
      color: #005691;
    }
  }
  &.btnRed {
    color: #f25757;
    &:hover, &:active:focus {
      color: #b20000;
    }
  }
  &.btnGreen {
    color: #48b55c;
    &:hover, &:active:focus {
      color: #327D40;
    }
  }
}

/*  */
