/* Button Night Classes */

.night {
  $nguix-btnLight-color: rgba(255,255,255,0.7);
  $nguix-btnLight-border-color: transparentize($nguix-btnLight-color, 0.5);
  $nguix-blue: #2691d9;
  $nguix-btnBlueLight-color: lighten($nguix-blue, 5);
  $nguix-btnBlueLight-border-color: darken($nguix-blue, 29);
  $nguix-red: #f25757;
  $nguix-btnRedLight-color: lighten($nguix-red, 5);
  $nguix-btnRedLight-border-color: transparentize(darken($nguix-red, 29), 0.2);
  $nguix-green: #48b55c;
  $nguix-btnGreenLight-color: lighten($nguix-green, 5);
  $nguix-btnGreenLight-border-color: darken($nguix-green, 29);
  button.btnLight, .btn.btnLight, a.btn.btnLight, label.btn.btnLight {
    background-color: transparent;
    border-color: $nguix-btnLight-border-color;
    color: $nguix-btnLight-color;
    text-shadow: none;
  }
  button.btnGreen, .btn.btnGreen, a.btn.btnGreen, label.btn.btnGreen {
    background-color: $nguix-green;
    border-color: #111;
    color: #fff;
    text-shadow: none;
  }
  button.btnGreenLight, .btn.btnGreenLight, a.btn.btnGreenLight, label.btn.btnGreenLight {
    background-color: transparent;
    border-color: $nguix-btnGreenLight-border-color;
    color: $nguix-btnGreenLight-color;
    text-shadow: none;
  }
  button.btnBlue, .btn.btnBlue, a.btn.btnBlue, label.btn.btnBlue {
    background-color: $nguix-blue;
    border-color: #111;
    color: #fff;
    text-shadow: none;
  }
  button.btnBlueLight, .btn.btnBlueLight, a.btn.btnBlueLight, label.btn.btnBlueLight {
    background-color: transparent;
    border-color: $nguix-btnBlueLight-border-color;
    color: $nguix-btnBlueLight-color;
    text-shadow: none;
  }
  button.btnRed, .btn.btnRed, a.btn.btnRed, label.btn.btnRed {
    background-color: $nguix-red;
    border-color: #111;
    color: #fff;
    text-shadow: none;
  }
  button.btnRedLight, .btn.btnRedLight, a.btn.btnRedLight, label.btn.btnRedLight {
    background-color: transparent;
    border-color: $nguix-btnRedLight-border-color;
    color: $nguix-btnRedLight-color;
    text-shadow: none;
  }
  button.btnLight:hover, .btn.btnLight:hover, a.btn.btnLight:hover, button.btnLight.selected, .btn.btnLight.selected, a.btn.btnLight.selected, button.btnLight:active:focus, .btn.btnLight:active:focus, a.btn.btnLight:active:focus,
  button.btnLight:focus, .btn.btnLight:focus, a.btn.btnLight:focus {
    background-color: #000;
    color: opacify($nguix-btnLight-color, 0.1);
  }
  button.btnGreen:hover, .btn.btnGreen:hover, a.btn.btnGreen:hover, button.btnGreen.selected, .btn.btnGreen.selected, a.btn.btnGreen.selected, button.btnGreen:active:focus, .btn.btnGreen:active:focus, a.btn.btnGreen:active:focus,
  button.btnGreen:focus, .btn.btnGreen:focus, a.btn.btnGreen:focus {
    background-color: #327D40;
    border-color: #000;
    color: #fff;
  }
  button.btnGreenLight:hover, .btn.btnGreenLight:hover, a.btn.btnGreenLight:hover, button.btnGreenLight.selected, .btn.btnGreenLight.selected, a.btn.btnGreenLight.selected, button.btnGreenLight:active:focus, .btn.btnGreenLight:active:focus, a.btn.btnGreenLight:active:focus,
  button.btnGreenLight:focus, .btn.btnGreenLight:focus, a.btn.btnGreenLight:focus {
    background-color: #000;
    color: lighten($nguix-green, 15);
  }
  button.btnBlue:hover, .btn.btnBlue:hover, a.btn.btnBlue:hover, button.btnBlue.selected, .btn.btnBlue.selected, a.btn.btnBlue.selected, button.btnBlue:active:focus, .btn.btnBlue:active:focus, a.btn.btnBlue:active:focus,
  button.btnBlue:focus, .btn.btnBlue:focus, a.btn.btnBlue:focus {
    background-color: #005691;
    border-color: #000;
    color: #fff;
  }
  button.btnBlueLight:hover, .btn.btnBlueLight:hover, a.btn.btnBlueLight:hover, button.btnBlueLight.selected, .btn.btnBlueLight.selected, a.btn.btnBlueLight.selected, button.btnBlueLight:active:focus, .btn.btnBlueLight:active:focus, a.btn.btnBlueLight:active:focus,
  button.btnBlueLight:focus, .btn.btnBlueLight:focus, a.btn.btnBlueLight:focus {
    background-color: #000;
    color: lighten($nguix-blue, 15);
  }
  button.btnRed:hover, .btn.btnRed:hover, a.btn.btnRed:hover, button.btnRed.selected, .btn.btnRed.selected, a.btn.btnRed.selected, button.btnRed:active:focus, .btn.btnRed:active:focus, a.btn.btnRed:active:focus,
  button.btnRed:focus, .btn.btnRed:focus, a.btn.btnRed:focus {
    background-color: #b20000;
    border-color: #000;
    color: #fff;
  }
  button.btnRedLight:hover, .btn.btnRedLight:hover, a.btn.btnRedLight:hover, button.btnRedLight.selected, .btn.btnRedLight.selected, a.btn.btnRedLight.selected, button.btnRedLight:active:focus, .btn.btnRedLight:active:focus, a.btn.btnRedLight:active:focus,
  button.btnRedLight:focus, .btn.btnRedLight:focus, a.btn.btnRedLight:focus {
    background-color: #000;
    color: lighten($nguix-red, 10);
  }
  button.btnLight:disabled, .btn.btnLight:disabled, a.btn.btnLight:disabled, label.btn.btnLight:disabled {
    color: transparentize($nguix-btnLight-color, 0.3);
    border-color: transparentize($nguix-btnLight-border-color, 0.1);
    background-color: transparent;
    &:hover {
      color: transparentize($nguix-btnLight-color, 0.3);
      border-color: transparentize($nguix-btnLight-border-color, 0.1);
      background-color: transparent;
    }
  }
  button.btnGreen:disabled, .btn.btnGreen:disabled, a.btn.btnGreen:disabled, label.btn.btnGreen:disabled {
    background-color: #1f4729;
    border-color: #111;
    color: #4e6e56;
    text-shadow: none;
  }
  button.btnGreenLight:disabled, .btn.btnGreenLight:disabled, a.btn.btnGreenLight:disabled, label.btn.btnGreenLight:disabled {
    color: transparentize($nguix-btnGreenLight-color, 0.3);
    border-color: transparentize($nguix-btnGreenLight-border-color, 0.1);
    background-color: transparent;
    &:hover {
      color: transparentize($nguix-btnGreenLight-color, 0.3);
      border-color: transparentize($nguix-btnGreenLight-border-color, 0.1);
      background-color: transparent;
    }
  }
  button.btnBlue:disabled, .btn.btnBlue:disabled, a.btn.btnBlue:disabled, label.btn.btnBlue:disabled {
    background-color: #1f3747;
    border-color: #111;
    color: #4e626e;
    text-shadow: none;
  }
  button.btnBlueLight:disabled, .btn.btnBlueLight:disabled, a.btn.btnBlueLight:disabled, label.btn.btnBlueLight:disabled {
    color: transparentize($nguix-btnBlueLight-color, 0.3);
    border-color: transparentize($nguix-btnBlueLight-border-color, 0.1);
    background-color: transparent;
    &:hover {
      color: transparentize($nguix-btnBlueLight-color, 0.3);
      border-color: transparentize($nguix-btnBlueLight-border-color, 0.1);
      background-color: transparent;
    }
  }
  button.btnRed:disabled, .btn.btnRed:disabled, a.btn.btnRed:disabled, label.btn.btnRed:disabled {
    background-color: #471f1f;
    border-color: #111;
    color: #6e4e4e;
    text-shadow: none;
  }
  button.btnRedLight:disabled, .btn.btnRedLight:disabled, a.btn.btnRedLight:disabled, label.btn.btnRedLight:disabled {
    color: transparentize($nguix-btnRedLight-color, 0.3);
    border-color: transparentize($nguix-btnRedLight-border-color, 0.1);
    background-color: transparent;
    &:hover {
      color: transparentize($nguix-btnRedLight-color, 0.3);
      border-color: transparentize($nguix-btnRedLight-border-color, 0.1);
      background-color: transparent;
    }
  }
}

/*  */