/* Colors */

.night {
  .color, .mainColor {
    color: #005e9d;
  }
  .red {
    color: #f25757;
  }
  .darkRed {
    color: #a02222;
  }
  .gray {
    color: #888;
  }
  .white {
    color: #fff;
  }
  .borderRed {
    border-color: #F0A8A8;
  }
  .borderBlue {
    border-color: #9ccbea;
  }
  .borderGreen {
    border-color: #BDDBC1;
  }
}