/* Display */

.hide {
  display: none !important;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.sBlock, .xsBlock, .mBlock, .xmBlock, .lBlock, .xlBlock, .xxlBlock {
  display: none;
}

.inline-block {
  display: inline-block;
}

.sInline-block, .xsInline-block, .mInline-block, .xmInline-block, .lInline-block, .xlInline-block, .xxlInline-block {
  display: none;
}

.table-cell {
  display: table-cell;
}

.sTable-cell, .xsTable-cellk, .mTable-cell, .xmTable-cell, .lTable-cell, .xlTable-cell, .xxlTable-cell {
  display: none;
}

.table-row {
  display: table-row;
}

.sTable-row, .xsTable-row, .mTable-row, .xmTable-row, .lTable-row, .xlTable-row, .xxlTable-row {
  display: none;
}

/* 320px */
@media screen and (min-width: 20em) {
  .sBlock {
    display: block;
  }
  .sInline-block {
    display: inline-block;
  }
  .sTable-cell {
    display: table-cell;
  }
  .sTable-row {
    display: table-row;
  }
  .sHide {
    display: none !important;
  }
}

/* 448px */
@media screen and (min-width: 28em) {
  .xsBlock {
    display: block;
  }
  .xsInline-block {
    display: inline-block;
  }
  .xsTable-cell {
    display: table-cell;
  }
  .xsTable-row {
    display: table-row;
  }
  .xsHide {
    display: none !important;
  }
}

/* 568px */
@media screen and (min-width: 35.5em) {
  .mBlock {
    display: block;
  }
  .mInline-block {
    display: inline-block;
  }
  .mTable-cell {
    display: table-cell;
  }
  .mTable-row {
    display: table-row;
  }
  .mHide {
    display: none !important;
  }
}

/* 768px */
@media screen and (min-width: 48em) {
  .xmBlock {
    display: block;
  }
  .xmInline-block {
    display: inline-block;
  }
  .xmTable-cell {
    display: table-cell;
  }
  .xmTable-row {
    display: table-row;
  }
  .xmHide {
    display: none !important;
  }
}

/* 1024px */
@media screen and (min-width: 64em) {
  .container {
    max-width: 64em;
  }
  .lBlock {
    display: block;
  }
  .lInline-block {
    display: inline-block;
  }
  .lTable-cell {
    display: table-cell;
  }
  .lTable-row {
    display: table-row;
  }
  .lHide {
    display: none !important;
  }
}

/* 1280px */
@media screen and (min-width: 80em) {
  .xlBlock {
    display: block;
  }
  .xlInline-block {
    display: inline-block;
  }
  .xlTable-cell {
    display: table-cell;
  }
  .xlTable-row {
    display: table-row;
  }
  .xlHide {
    display: none !important;
  }
}