/* dropdownHover */

.dropdownHover {
  display: inline-block;
  label {
    margin: 0;
    cursor: default;
    padding: .55em 0;
    display: block;
    &.btn {
      padding: 0.55em 0.8em;
    }
  }
  .list {
    position: relative;
    .inner {
      display: none;
      top: 0em;
      left: 0;
      padding-top: .24em;
      position: absolute;
      z-index: 999;
    }
    ul {
      background-color: #fff;
      -webkit-box-shadow: 0 0px 0px 1px #eee;
      -moz-box-shadow: 0 0px 0px 1px #eee;
      box-shadow: 0 0px 0px 1px #eee;
      padding: 0;
      margin: 0;
      li {
        padding: .572em .75em;
        cursor: pointer;
        border: 1px solid #fff;
        border-bottom-color: #eee;
        min-width: 5em;
        color: #666;
        white-space: nowrap;
        text-align: left;
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background-color: #f4f4f4;
          border-color: #000;
          color: #000;
        }
        &.selected {
          color: #005691;
        }
        &:hover:last-child {
          border: 1px solid #000;
        }
      }
    }
  }
  &:hover .list .inner {
    display: block;
  }
}

.floatRight {
  &.dropdownHover:hover .list .inner, .dropdownHover:hover .list .inner {
    left: auto;
    right: 0;
  }
}