/* Font weights */
.fw100 { font-weight: 100 !important }
.fw200 { font-weight: 200 !important }
.fw300 { font-weight: 300 !important }
.fw400 { font-weight: 400 !important }
.fw500 { font-weight: 500 !important }
.fw600 { font-weight: 600 !important }
.fw700 { font-weight: 700 !important }
.fw800 { font-weight: 800 !important }
.fw900 { font-weight: 900 !important }
