/* formCentered */
.formCenter { width: 24em; min-height: 5em; margin: 0 auto 0; background-color: #fff; border-radius: 0.5em; padding: 1.5em; max-width: 95%; -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) }
.formCenter input[type="text"],
.formCenter input[type="email"],
.formCenter input[type="password"],
.formCenter input[type="file"],
.formCenter textarea,
.formCenter select { margin-bottom: 0.8em }
.formCenter .msg { padding: 0 0.5em; background: none !important; border: none !important; margin-bottom: 1.5em; font-size: 0.8em }
.formCenter h1,
.formCenter h2,
.formCenter h3,
.formCenter h4,
.formCenter h5,
.formCenter h6 { margin-top: 0 }
