/* Markdown doc style */
pre { padding: 12px 16px; overflow: auto; line-height: 1.45; background-color: #f7f7f7; border-radius: 3px; font: 0.875em Consolas, "Liberation Mono", Menlo, Courier, monospace }
.pl-ent { color: #63a35c }
.pl-e,
.pl-en { color: #795da3 }
.pl-s,
.pl-pds,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sre,
.pl-sr .pl-sra { color: #183691 }
