/* Animations */
@-webkit-keyframes shake {
	from, to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0) }
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translate3d(-10px, 0, 0); transform: translate3d(-10px, 0, 0) }
	20%, 40%, 60%, 80% { -webkit-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0) }
}
@keyframes shake {
	from, to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0) }
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translate3d(-10px, 0, 0); transform: translate3d(-10px, 0, 0) }
	20%, 40%, 60%, 80% { -webkit-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0) }
}
.shake { -webkit-animation-name: shake; animation-name: shake; -webkit-animation-duration: 0.8s; animation-duration: 0.8s; -webkit-animation-fill-mode: both; animation-fill-mode: both }
.shakeAfter10sec { -webkit-animation-name: shake; animation-name: shake; -webkit-animation-duration: 0.8s; animation-duration: 0.8s; -webkit-animation-fill-mode: both; animation-fill-mode: both; z-index: 99; -moz-animation-delay: 10s; -webkit-animation-delay: 10s; animation-delay: 10s }

/* Messages */
.msg { background-color: #f6f9fc; border: 1px solid #d0d4d9; color: #333; text-align: center; margin: 0; font-size: 13px }
.msg.msg-green,
input.ok,
input[type="text"].ok,
input[type="email"].ok,
input[type="number"].ok,
input[type="file"].ok,
textarea.ok,
input.ok:focus,
input[type="text"].ok:focus,
input[type="email"].ok:focus,
input[type="number"].ok:focus,
input[type="file"].ok:focus,
textarea.ok:focus { background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%2386c49a' height='20' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat center right; background-color:  #f8fcf9; border: 1px solid #86c49a; color: #3a8a54 }
.night .msg.msg-green,
.night input.ok,
.night input[type="text"].ok,
.night input[type="email"].ok,
.night input[type="number"].ok,
.night input[type="file"].ok,
.night textarea.ok,
.night input.ok:focus,
.night input[type="text"].ok:focus,
.night input[type="email"].ok:focus,
.night input[type="number"].ok:focus,
.night input[type="file"].ok:focus,
.night textarea.ok:focus { background-color:  #1f4729; border: 1px solid #0c1810; color: #b7e1c4 }
.msg.msg-red,
input.wrong,
select.wrong,
input[type="text"].wrong,
input[type="email"].wrong,
input[type="number"].wrong,
input[type="file"].wrong,
textarea.wrong,
input.wrong:focus,
input[type="text"].wrong:focus,
input[type="email"].wrong:focus,
input[type="number"].wrong:focus,
input[type="file"].wrong:focus,
textarea.wrong:focus,
datepicker.wrong .datepicker-input { background-color: #f6eaea; border-color: #d48c8c; color: #a02222; -webkit-animation-name: shake; animation-name: shake; -webkit-animation-duration: 0.8s; animation-duration: 0.8s; -webkit-animation-fill-mode: both; animation-fill-mode: both }
.night .msg.msg-red,
.night input.wrong,
.night select.wrong,
.night input[type="text"].wrong,
.night input[type="email"].wrong,
.night input[type="number"].wrong,
.night input[type="file"].wrong,
.night textarea.wrong,
.night input.wrong:focus,
.night input[type="text"].wrong:focus,
.night input[type="email"].wrong:focus,
.night input[type="number"].wrong:focus,
.night input[type="file"].wrong:focus,
.night textarea.wrong:focus,
.night datepicker.wrong .datepicker-input { background-color: #471f1f; border-color: #1a0a0a; color: #e0b8b8 }
.msg-default,
.msg-green,
.msg-red { padding: 0.5em }
p.msg.msg-green,
p.msg.msg-red,
.night p.msg.msg-green,
.night p.msg.msg-red{ background: none; border: none; padding-left: 0; padding-right: 0; text-align: left }
