/* Animations */
@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}


@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}


.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.shakeAfter10sec {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 99;
  -moz-animation-delay: 10s;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

/* Messages */

.msg {
  background-color: #f6f9fc;
  border: 1px solid #d0d4d9;
  color: #333;
  text-align: center;
  margin: 0;
  font-size: 13px;
  &.msg-green {
    background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%2386c49a' height='20' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat center right;
    background-color: #f8fcf9;
    border: 1px solid #86c49a;
    color: #3a8a54;
  }
}

input {
  &.ok, &[type="text"].ok, &[type="email"].ok, &[type="number"].ok, &[type="file"].ok {
    background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%2386c49a' height='20' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat center right;
    background-color: #f8fcf9;
    border: 1px solid #86c49a;
    color: #3a8a54;
  }
}

textarea.ok {
  background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%2386c49a' height='20' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat center right;
  background-color: #f8fcf9;
  border: 1px solid #86c49a;
  color: #3a8a54;
}

input {
  &.ok:focus, &[type="text"].ok:focus, &[type="email"].ok:focus, &[type="number"].ok:focus, &[type="file"].ok:focus {
    background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%2386c49a' height='20' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat center right;
    background-color: #f8fcf9;
    border-color:#3b784e;
    color: #3a8a54;
  }
}

textarea.ok:focus {
  background: url("data:image/svg+xml;charset=UTF-8, %3Csvg fill='%2386c49a' height='20' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat center right;
  background-color: #f8fcf9;
  border: 1px solid #3b784e;
  color: #3a8a54;
}

.night {
  .msg.msg-green {
    background-color: #1f4729;
    border: 1px solid #0c1810;
    color: #b7e1c4;
  }
  input {
    &.ok, &[type="text"].ok, &[type="email"].ok, &[type="number"].ok, &[type="file"].ok {
      background-color: #1f4729;
      border: 1px solid #0c1810;
      color: #b7e1c4;
    }
  }
  textarea.ok {
    background-color: #1f4729;
    border: 1px solid #0c1810;
    color: #b7e1c4;
  }
  input {
    &.ok:focus, &[type="text"].ok:focus, &[type="email"].ok:focus, &[type="number"].ok:focus, &[type="file"].ok:focus {
      background-color: #1f4729;
      border: 1px solid #b7e1c4;
      color: #b7e1c4;
    }
  }
  textarea.ok:focus {
    background-color: #1f4729;
    border: 1px solid #b7e1c4;
    color: #b7e1c4;
  }
}

.msg.msg-red, input.wrong, select.wrong {
  background-color: #f6eaea;
  border-color: #d48c8c;
  color: #a02222;
  /*
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  */
}

input {
  &[type="text"].wrong, &[type="email"].wrong, &[type="number"].wrong, &[type="file"].wrong {
    background-color: #f6eaea;
    border-color: #d48c8c;
    color: #a02222;
    /*
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    */
  }
}

textarea.wrong {
  background-color: #f6eaea;
  border-color: #d48c8c;
  color: #a02222;
  /*
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  */
}

input {
  &.wrong:focus, &[type="text"].wrong:focus, &[type="email"].wrong:focus, &[type="number"].wrong:focus, &[type="file"].wrong:focus {
    background-color: #f6eaea;
    border-color: #a22a2c;
    color: #a02222;
    /*
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    */
  }
}

textarea.wrong:focus, nguix-datepicker.wrong .datepicker-input {
  background-color: #f6eaea;
  border-color: #a22a2c;
  color: #a02222;
  /*
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  */
}

.night {
  .msg.msg-red, input.wrong, select.wrong {
    background-color: #471f1f;
    border-color: #1a0a0a;
    color: #da5a5a;
  }
  input {
    &[type="text"].wrong, &[type="email"].wrong, &[type="number"].wrong, &[type="file"].wrong {
      background-color: #471f1f;
      border-color: #1a0a0a;
      color: #da5a5a;
    }
  }
  textarea.wrong {
    background-color: #471f1f;
    border-color: #1a0a0a;
    color: #da5a5a;
  }
  input {
    &.wrong:focus, &[type="text"].wrong:focus, &[type="email"].wrong:focus, &[type="number"].wrong:focus, &[type="file"].wrong:focus {
      background-color: #471f1f;
      border-color: #da5a5a;
      color: #da5a5a;
    }
  }
  textarea.wrong:focus, nguix-datepicker.wrong .datepicker-input {
    background-color: #471f1f;
    border-color: #da5a5a;
    color: #da5a5a;
  }
}

.msg-default, .msg-green, .msg-red {
  padding: 0.5em;
}

p.msg {
  &.msg-green, &.msg-red {
    background: none;
    border: none;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
}

.night p.msg {
  &.msg-green, &.msg-red {
    background: none;
    border: none;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
}


.wrong input,
.wrong input:focus{
  background-color: #f6eaea;
  border-color: #d48c8c;
  color: #a02222;
  /*
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
  */
}

.night {
  .wrong input,
  .wrong input:focus{
    background-color: #471f1f;
    border-color: #1a0a0a;
    color: #da5a5a;
  }
}
