@import url("https://fonts.googleapis.com/css?family=Roboto:100,300&text=1234567890%$");

/* pie */
pie {
    display: block; position:relative; width: auto; margin: 0 auto 0;
}

pie circle {
    fill:none;
    transition: stroke-dasharray .3s ease;
}
pie circle.bgcircle{
    fill: none;
    stroke: #f3f3f3;
}
.night pie circle.bgcircle{
    fill: none;
    stroke:#1c1c1c;
}

pie svg {
    display: block
}

pie svg.chart {margin: 0 auto 0; max-width: 100%}

pie svg #circles{
    transform: rotate(-90deg);
}

pie .pieText{ fill: #999; font-weight: 100; font-family: 'Roboto'}
pie  .pieTextCent { fill: #aeaeae; font-weight: 300; font-family: 'Roboto' }
pie .pieTextBottom { fill: #aeaeae; font-weight: 100; font-family: 'Roboto'}
.night pie .pieText{ fill: #ccc }
.night pie .pieTextBottom {fill: #888}
.night pie  .pieTextCent { fill: #aaa }

pie .pieLabels {text-align: center }
pie .pieLabels li { display: inline-block; margin: 0.5em 0.8em; color:#999 }
.night pie .pieLabels li {color:#666}
pie .pieLabels svg {opacity: 0.5}
pie .pieLabels li.current svg,
pie .pieLabels li:hover svg{opacity: 1}
pie .pieLabels li.current span,
pie .pieLabels li:hover span { color:#000 }
.night pie .pieLabels li.current span,
.night pie .pieLabels li:hover span { color:#ccc }
