/* Tooltip */
tooltip {
    font-family: "Source Sans Pro", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
    display:inline-block;
    position: relative;
    width: 0;
    height: 1px;
    vertical-align: top;
    cursor: pointer;
    margin-left: -2px;
}

tooltip div{
    position: absolute;
    /*top: -25px;*/
    left: 0;
    min-width: 50px;
    background-color: black;
    color: white;
}

.tourMsg {
    -webkit-font-smoothing: antialiased;
    position: absolute;
    background-color: #333333;
    color: #fff;
    display: block;
    text-align: left;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    padding: 6px 9px;
    white-space: nowrap;
    top: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
}
.tourMsg .arrow { z-index: 99; min-width: 0; max-width: 12px; background-color: transparent }

.tourMsg.bottom .arrow,
.tourMsg.top .arrow{ width: 12px; height: 12px; position: absolute }

.tourMsg.right .arrow,
.tourMsg.left .arrow{ width: 12px; height: 12px; position: absolute }

.tourMsg.bottom { top: 6px }
.tourMsg.bottom .arrow,
.tourMsg.top .arrow { left: calc(50% - 6px) }
.tourMsg.bottom .arrow{ top: -11px }
.tourMsg.top .arrow,
.tourMsg.left .arrow { transform: rotate(180deg) }
.tourMsg.left .arrow,
.tourMsg.right .arrow { bottom: calc(50% - 6px) }
.tourMsg.top .arrow { bottom: -11px; top:auto }
.tourMsg.left .arrow  { right: -11px; left: auto }
.tourMsg.right .arrow  { left: -11px; right: auto }
