<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div style="max-width: 1000px; position: relative; margin: 0 auto 0;" class="p0-1">
    <h1>App</h1>
    <loader ngui-label="$ctrl.loading" class="xm"></loader>
    <dropdown ngui-options="$ctrl.names" ngui-placeholder="Name" ngui-bordered style="width:100px" ng-class="{wrong: !everythingisawesome}"></dropdown>
    <select style="width:100px">
    	<option value="volvo">Volvo</option>
    	<option value="saab">Saab</option>
    	<option value="mercedes">Mercedes</option>
    	<option value="audi">Audi</option>
    </select>
    <hr class="transparent">
    <progbar ngui-value="40"></progbar>
    <progbar ngui-value="40" ngui-label></progbar>
    <progbar ngui-value="50" ngui-color="red"></progbar>
    <progbar ngui-value="50" ngui-color="red" ngui-label></progbar>
    <progbar ngui-value="60" ngui-color="salmon"></progbar>
    <progbar ngui-value="60" ngui-color="salmon" ngui-label></progbar>
    <progbar ngui-value="70" ngui-color="orange"></progbar>
    <progbar ngui-value="70" ngui-color="orange" ngui-label></progbar>
    <progbar ngui-value="60" ngui-color="amber"></progbar>
    <progbar ngui-value="60" ngui-color="amber" ngui-label></progbar>
    <progbar ngui-value="70" ngui-color="yellow"></progbar>
    <progbar ngui-value="70" ngui-color="yellow" ngui-label></progbar>
    <progbar ngui-value="60" ngui-color="lemon"></progbar>
    <progbar ngui-value="60" ngui-color="lemon" ngui-label></progbar>
    <progbar ngui-value="50" ngui-color="green"></progbar>
    <progbar ngui-value="50" ngui-color="green" ngui-label></progbar>
    <progbar ngui-value="40" ngui-color="emerald"></progbar>
    <progbar ngui-value="40" ngui-color="emerald" ngui-label></progbar>
    <progbar ngui-value="50" ngui-color="blue"></progbar>
    <progbar ngui-value="50" ngui-color="blue" ngui-label></progbar>
    <progbar ngui-value="60" ngui-color="lavender"></progbar>
    <progbar ngui-value="60" ngui-color="lavender" ngui-label></progbar>
    <progbar ngui-value="70" ngui-color="violet"></progbar>
    <progbar ngui-value="70" ngui-color="violet" ngui-label></progbar>
    <progbar ngui-value="60" ngui-color="pink"></progbar>
    <progbar ngui-value="60" ngui-color="pink" ngui-label></progbar>
    <progbar ngui-value="50" ngui-color="black"></progbar>
    <progbar ngui-value="50" ngui-color="black" ngui-label></progbar>
    <progbar ngui-value="40" ngui-color="gray"></progbar>
    <progbar ngui-value="40" ngui-color="gray" ngui-label></progbar>

    <hr class="transparent big">

    <list>
        <list-item ng-repeat="user in $ctrl.users" ngui-ondelete="$ctrl.ondelete()">
            <list-item-fold>
                <div style="width: 20%; display: inline-block; color: white;">
                    Name: {{user.name}}
                </div>
                <div style="width: 20%; display: inline-block; color: white;">
                    Last Name: {{user.last}}
                </div>
                <div style="width: 20%; display: inline-block; color: white;">
                    DOB: {{$ctrl.parseDate(user.dob)}}
                </div>
                <div style="width: 20%; display: inline-block; color: white;">
                    Arrested: {{user.arrested}}
                </div>
            </list-item-fold>
            <list-item-expand>
                <div style="width:49%; display: inline-table;">
                    <div>
                        <label>Name</label>
                        <input type="text" ng-model="user.name" />
                    </div>
                    <div>
                        <label>Last Name</label>
                        <input type="text" ng-model="user.last" />
                    </div>
                </div>
                <div style="width:49%; display: inline-table;">
                    <div>
                        <label>DOB</label>
                        <input type="date" ng-model="user.dob" />
                    </div>
                    <div>
                        <br>
                        <input type="checkbox" ng-model="user.arrested" />
                        <label>Arrested</label>
                    </div>
                </div>

            </list-item-expand>
        </list-item>
    </list>
</div>
