<div style="max-width: 1000px; position: relative; margin: 0 auto 0;" class="p0-1">

    <h1 class="color fw300">NGUI</h1>
    <loader class="xm"></loader>
    <hr class="transparent">

    <h2 class="color fw300">Elements</h2>
    <hr class="maincolor">
    <hr class="transparent">

    <div class="p05-0">
        <div class="g1 gxm1-2 p05">
            <button>Button</button>
            <button class="selected">Button</button>
            <hr class="transparent">
            <button class="btnBlue">Button</button>
            <button class="btnBlue selected">Button</button>
            <button class="btnGreen">Button</button>
            <button class="btnGreen selected">Button</button>
            <button class="btnRed">Button</button>
            <button class="btnRed selected">Button</button>
        </div>
        <div class="g1 gxm1-2 p05">
            <button class="btnLight">Button</button>
            <button class="btnLight selected">Button</button>
            <hr class="transparent">
            <button class="btnBlueLight">Button</button>
            <button class="btnBlueLight selected">Button</button>
            <button class="btnGreenLight">Button</button>
            <button class="btnGreenLight selected">Button</button>
            <button class="btnRedLight">Button</button>
            <button class="btnRedLight selected">Button</button>
        </div>
        <hr class="transparent">
        <div class="g1 p05">
            <div class="btnGroup">
              <button>Aa</button>
              <button>Bb</button>
              <button>Cc</button>
            </div>
            <select style="width:150px">
            	<option value="volvo">Volvo</option>
            	<option value="saab">Saab</option>
            	<option value="mercedes">Mercedes</option>
            	<option value="audi">Audi</option>
            </select>
            <input type="file" class="file" id="someID" />
            <label class="btn" for="someID">Choose a file..</label>
            <div style="width:250px" class="inline-block">
                <input type="search" placeholder="sample text"/>
            </div>
            <div style="width:250px" class="inline-block">
                <input type="search" class="search animated" placeholder="sample text" />
            </div>
        </div>
        <hr class="transparent">
        <div class="g1 gxm1-4 p05">
            <label>Username <span class="xs">(some message here)</span></label>
            <input type="text" placeholder="sample text" />
            <hr class="transparent">
            <label>Password <span class="xs">(at least 6 char)</span></label>
            <input type="password" placeholder="sample text" />
        </div>
        <div class="g1 gxm1-4 p05">
            <label>Username <span class="xs">(some message here)</span></label>
            <input type="text" class="ok" placeholder="sample text" />
            <hr class="transparent">
            <label>Password <span class="xs">(at least 6 char)</span></label>
            <input type="password" class="ok" value="dGD294!ds3" placeholder="sample text" />
        </div>
        <div class="g1 gxm1-4 p05">
            <label>Username <span class="xs">(some message here)</span></label>
            <input type="text" class="wrong" placeholder="sample text" />
            <p class="msg msg-red">Username Taken</p>
            <hr class="transparent">
            <label>Password <span class="xs">(at least 6 char)</span></label>
            <input type="password" class="wrong" value="123456" placeholder="sample text" />
            <p class="msg msg-red">Some reason why is wrong</p>
        </div>
        <div class="g1 gxm1-4 p05">
            <label><input type="radio" name="radio" value="1" disabled="disabled"/> Option 1</label>
            <label><input type="radio" name="radio" value="2" checked="checked"/> Option 2</label>
            <label><input type="radio" name="radio" value="3"/> Option 3</label>
            <label><input type="radio" name="radio" value="4"/> Option 4</label>
        </div>
        <div class="g1 gxm1-4 p05">
            <label><input type="checkbox" id="test1" /> Option</label>
            <label><input type="checkbox" id="test2" checked="checked" /> Option</label>
            <label><input type="checkbox" id="test3" disabled="disabled" /> Option</label>
            <label><input type="checkbox" id="test4" checked="checked" disabled="disabled" /> Option</label>
        </div>
        <div class="g1 p05">
        	<label class="label">Default labeled</label>
        	<label class="label redLabel">Bug</label>
        	<label class="label salmonLabel">High Priority</label>
        	<label class="label orangeLabel">Important Issue</label>
        	<label class="label amberLabel">Fix Needed</label>
        	<label class="label yellowLabel">Task</label>
        	<label class="label lemonLabel">Almost done</label>
        	<label class="label greenLabel">Done</label>
        	<label class="label emeraldLabel">Enhacement</label>
        	<label class="label blueLabel">Concern</label>
        	<hr class="transparent" style="margin:0.2em 0 0">
        	<label class="label lavenderLabel">In Progress</label>
        	<label class="label violetLabel">Questions</label>
        	<label class="label pinkLabel">Group Task</label>
        	<label class="label blackLabel">Black Swan</label>
        	<label class="label grayLabel">Unassigned</label>
        	<hr class="transparent">
        </div>
        <div class="g1 p05">
            <table class="minimalistic even">
            	<tr>
            		<th class="sortable">dasdsa</th>
            		<th>dasdas</th>
            		<th>dasdas</th>
            		<th class="textRight">dasdas</th>
            	</tr>
            	<tr>
            		<td>Lorem ipsum dolor sit amet, consectetur</td>
            		<td>Quis autem vel eum iure reprehenderit</td>
            		<td><label class="label yellowLabel">yellowLabel</label></td>
            		<td class="textRight"><label class="label blueLabel">blueLabel</label></td>
            	</tr>
            	<tr>
            		<td>Sed ut perspiciatis unde omnis iste</td>
            		<td>Neque porro quisquam</td>
            		<td><label class="label redLabel">redLabel</label></td>
            		<td class="textRight"><label class="label lavenderLabel">lavenderLabel</label></td>
            	</tr>
            </table>
            <hr class="transparent">
            <table class="bordered">
            	<tr class="withBG">
            		<th class="sortable inverted">dasdsa</th>
            		<th>dasdas</th>
            		<th>dasdas</th>
            		<th class="textRight">dasdas</th>
            	</tr>
            	<tr>
            		<td>Sed ut perspiciatis unde omnis iste</td>
            		<td>Neque porro quisquam</td>
            		<td><label class="label redLabel">redLabel</label></td>
            		<td class="textRight"><label class="label lavenderLabel">lavenderLabel</label></td>
            	</tr>
                <tr>
            		<td>Lorem ipsum dolor sit amet, consectetur</td>
            		<td>Quis autem vel eum iure reprehenderit</td>
            		<td><label class="label yellowLabel">yellowLabel</label></td>
            		<td class="textRight"><label class="label blueLabel">blueLabel</label></td>
            	</tr>
            </table>
        </div>
    </div>
    <hr class="transparent big">

    <h2 class="color fw300">Components</h2>
    <hr class="maincolor">
    <hr class="transparent big">

    <h3 class="fw300">Dropdown</h3>
    <hr>
    <div class="p05-0">
        <dropdown
            ngui-model="$ctrl.selectedName"
            ngui-options="{
                options: $ctrl.names,
                placeholder: 'Some names',
                bordered: true
            }"
            ng-class="{wrong: everythingisawesome}"
            style="width:8em"></dropdown>

        <!-- <dropdown ngui-model="$ctrl.selectedName" ngui-options="{{$ctrl.names}}" ngui-placeholder="Name" ngui-bordered ng-class="{wrong: everythingisawesome}" style="width:8em"></dropdown> -->
        <select style="width:8em">
        	<option value="volvo">Volvo</option>
        	<option value="saab">Saab</option>
        	<option value="mercedes">Mercedes</option>
        	<option value="audi">Audi</option>
        </select>
        <input type="search" placeholder="Search" style="width:8em"/>
    </div>
    <hr class="transparent big">

    <h3 class="fw300">Hamburguer</h3>
    <hr>
    <div class="p05-0">
        <hamburger ngui-open="$ctrl.menu"></hamburger>
        <div class="sidemenu p05" ng-show="$ctrl.menu">
            <ul>
                <li>option 1</li>
                <li>option 2</li>
                <li>option 3</li>
            </ul>
        </div>
    </div>
    <hr class="transparent big">

    <h3 class="fw300">DatePicker</h3>
    <hr>
    <div class="p05-0">
        <datepicker date="$ctrl.someDate" style="width:12em"></datepicker>
        <!-- <dropdown ngui-model="$ctrl.selectedName" ngui-options="{{$ctrl.names}}" ngui-placeholder="Name" ngui-bordered ng-class="{wrong: everythingisawesome}" style="width:8em"></dropdown> -->
        <dropdown
            ngui-model="$ctrl.selectedName"
            ngui-options="{
                options: $ctrl.names,
                placeholder: 'Name',
                bordered: true
            }"
            ng-class="{wrong: everythingisawesome}"
            style="width:8em"></dropdown>
        <select style="width:8em">
        	<option value="volvo">Volvo</option>
        	<option value="saab">Saab</option>
        	<option value="mercedes">Mercedes</option>
        	<option value="audi">Audi</option>
        </select>
        <input type="search" placeholder="Search" style="width:8em"/>
    </div>
    <hr class="transparent big">

    <h3 class="fw300">Progress Bar</h3>
    <hr>
    <div class="p05-0">
        <progbar ngui-value="40"></progbar>
        <progbar ngui-value="40" ngui-label></progbar>
        <progbar ngui-value="50" ngui-color="red"></progbar>
        <progbar ngui-value="50" ngui-color="red" ngui-label></progbar>
        <progbar ngui-value="60" ngui-color="salmon"></progbar>
        <progbar ngui-value="60" ngui-color="salmon" ngui-label></progbar>
        <progbar ngui-value="70" ngui-color="orange"></progbar>
        <progbar ngui-value="70" ngui-color="orange" ngui-label></progbar>
        <progbar ngui-value="60" ngui-color="amber"></progbar>
        <progbar ngui-value="60" ngui-color="amber" ngui-label></progbar>
        <progbar ngui-value="70" ngui-color="yellow"></progbar>
        <progbar ngui-value="70" ngui-color="yellow" ngui-label></progbar>
        <progbar ngui-value="60" ngui-color="lemon"></progbar>
        <progbar ngui-value="60" ngui-color="lemon" ngui-label></progbar>
        <progbar ngui-value="50" ngui-color="green"></progbar>
        <progbar ngui-value="50" ngui-color="green" ngui-label></progbar>
        <progbar ngui-value="40" ngui-color="emerald"></progbar>
        <progbar ngui-value="40" ngui-color="emerald" ngui-label></progbar>
        <progbar ngui-value="50" ngui-color="blue"></progbar>
        <progbar ngui-value="50" ngui-color="blue" ngui-label></progbar>
        <progbar ngui-value="60" ngui-color="lavender"></progbar>
        <progbar ngui-value="60" ngui-color="lavender" ngui-label></progbar>
        <progbar ngui-value="70" ngui-color="violet"></progbar>
        <progbar ngui-value="70" ngui-color="violet" ngui-label></progbar>
        <progbar ngui-value="60" ngui-color="pink"></progbar>
        <progbar ngui-value="60" ngui-color="pink" ngui-label></progbar>
        <progbar ngui-value="50" ngui-color="black"></progbar>
        <progbar ngui-value="50" ngui-color="black" ngui-label></progbar>
        <progbar ngui-value="40" ngui-color="gray"></progbar>
        <progbar ngui-value="40" ngui-color="gray" ngui-label></progbar>
    </div>
    <hr class="transparent big">

    <h3 class="fw300">Pagination</h3>
    <hr>
    <div class="p05-0">
        <pagination ngui-items="$ctrl.names">
            <p>{{$parent.item}}</p>
        </pagination>
    </div>
    <hr class="transparent big">

    <h3 class="fw300">List</h3>
    <hr>
    <div class="p05-0">
        <list>
            <list-item ng-repeat="user in $ctrl.users" ngui-ondelete="$ctrl.ondelete($index)">
                <list-item-fold>
                    <div class="g1-4 p0-05">
                        Name: {{user.name}}
                    </div>
                    <div class="g1-4 p0-05">
                        Last Name: {{user.last}}
                    </div>
                    <div class="g1-4 p0-05">
                        DOB: {{$ctrl.parseDate(user.dob)}}
                    </div>
                    <div class="g1-4 p0-05">
                        Arrested: {{user.arrested}}
                    </div>
                </list-item-fold>
                <list-item-expand>
                    <div class="g1-4 p0-05">
                        <input type="text" ng-model="user.name" />
                    </div>
                    <div class="g1-4 p0-05">
                        <input type="text" ng-model="user.last" />
                    </div>
                    <div class="g1-4 p0-05">
                        <input type="date" ng-model="user.dob" />
                    </div>
                    <div class="g1-4 p05">
                        <label><input type="checkbox" ng-model="user.arrested" /> Arrested</label>
                    </div>
                </list-item-expand>
            </list-item>
        </list>
    </div>
    <hr class="transparent big">

    <h3 class="fw300">Tooltip</h3>
    <hr>
    <div class="p05-0">
        <div>
            <h4 class="fw300">Top, default</h4>
            <input type="text" value="hola" style="width:200px"/>
            <!-- <tooltip ngui-message="{ value: 'perro' }" ngui-timeout="2"></tooltip> -->
            <!-- <tooltip ngui-model="$ctrl.lalala" ngui-options="{
                timeout: $ctrl.testb,
                message: 'holacomo'
            }"></tooltip> -->

            <select style="width:100px">
            	<option value="volvo">Volvo</option>
            	<option value="saab">Saab</option>
            	<option value="mercedes">Mercedes</option>
            	<option value="audi">Audi</option>
            </select>
        </div>
        <hr class="transparent">
        <div>
            <h4 class="fw300">Left</h4>
            <select style="width:100px">
            	<option value="volvo">Volvo</option>
            	<option value="saab">Saab</option>
            	<option value="mercedes">Mercedes</option>
            	<option value="audi">Audi</option>
            </select>
            <!-- <tooltip ngui-message="Useful message das das" ngui-position="left" ngui-timeout="3"></tooltip> -->
            <input type="text" value="hola" style="width:200px"/>
            <input type="text" value="hola" style="width:200px"/>
        </div>
        <hr class="transparent">
        <div>
            <h4 class="fw300">Right</h4>
            <input type="text" value="hola" style="width:230px"/>
            <!-- <tooltip ngui-message="Use fulmess aged das das das das d asd ad a" ngui-position="right" ngui-timeout="4"></tooltip> -->
            <input type="text" value="hola" style="width:200px"/>
        </div>
        <hr class="transparent">
        <div>
            <h4 class="fw300">Bottom</h4>
            <input type="text" value="hola" style="width:200px" />
            <!-- <tooltip ngui-message="Useful message dasdas dsadso" ngui-position="bottom" ngui-timeout="5"></tooltip> -->
            <input type="text" value="hola" style="width:200px"/>
            <input type="text" value="hola" style="width:200px"/>
        </div>
        <hr class="transparent big">
        <h4 class="fw300">On Hover</h4>
        <div>
            <select style="width:100px" ng-mouseenter="showTooltipLeft = true" ng-mouseleave="showTooltipLeft = false">
                <!--ng-mouseleave="showTooltipLeft = false"-->
            	<option value="volvo">Volvo</option>
            	<option value="saab">Saab</option>
            	<option value="mercedes">Mercedes</option>
            	<option value="audi">Audi</option>
            </select>
            <!-- <tooltip ng-if="showTooltipLeft" ngui-message="Useful message das das" ngui-position="left"</tooltip> -->
            <input type="text" value="hola" style="width:200px"/>
            <input type="text" value="hola" style="width:200px"/>
        </div>
    </div>
    <hr class="transparent big">
</div>
<hr class="transparent big">
