scrollable{}
scrollable .scrollable{position: fixed; bottom:1em; left: 0; width: 100%; height: 96px; text-align: center; z-index: 999}
scrollable .scrollable svg{height: 96px; margin: 0 auto 0}

@-webkit-keyframes wheel {
    0% { -webkit-transform: translateY(0); -webkit-opacity: 1; height: 6.66% }
    25% { -webkit-transform: translateY(0); -webkit-opacity: 1; height: 6.66% }
    70% { -webkit-transform: translateY(0%); -webkit-opacity: 1; height: 13.33% }
    85% { -webkit-transform: translateY(10%); -webkit-opacity: 1; height: 6.66% }
    100% { -webkit-transform: translateY(10%); -webkit-opacity: 0; height: 6.66% }
}
@-moz-keyframes wheel {
    0% { -moz-transform: translateY(0); -moz-opacity: 1; height: 6.66% }
    25% { -moz-transform: translateY(0); -moz-opacity: 1; height: 6.66% }
    70% { -moz-transform: translateY(0%); -moz-opacity: 1; height: 13.33% }
    85% { -moz-transform: translateY(10%); -moz-opacity: 1; height: 6.66% }
    100% { -moz-transform: translateY(10%); -moz-opacity: 0; height: 6.66% }
}
@keyframes wheel {
    0% { transform: translateY(0); opacity: 1; height: 6.66% }
    25% { transform: translateY(0); opacity: 1; height: 6.66% }
    70% { transform: translateY(0%); opacity: 1; height: 13.33% }
    85% { transform: translateY(10%); opacity: 1; height: 6.66% }
    100% { transform: translateY(10%); opacity: 0; height: 6.66% }
}

scrollable .scrollable svg .mouse{fill:#fff; stroke:#ccc;}
scrollable .scrollable svg .wheel{fill:#ccc; animation: wheel 3s infinite}
.night scrollable .scrollable svg .mouse{fill:#222; stroke:#fff}
.night scrollable .scrollable svg .wheel{fill:#fff}


@-webkit-keyframes finger {
    0%  { -webkit-transform: translate(10%,20%);   -webkit-opacity: 1 }
    20% { -webkit-transform: translate(10%,20%);   -webkit-opacity: 1 }
    60% { -webkit-transform: translate(10%,0%);    -webkit-opacity: 1 }
    100%{ -webkit-transform: translate(10%,0%);    -webkit-opacity: 0 }
}
@-moz-keyframes finger {
    0%  { -moz-transform: translate(10%,20%);  -moz-opacity: 1 }
    20% { -moz-transform: translate(10%,20%);  -moz-opacity: 1 }
    60% { -moz-transform: translate(10%,0%);   -moz-opacity: 1 }
    100%{ -moz-transform: translate(10%,0%);   -moz-opacity: 0 }
}
@keyframes finger {
    0%  { transform: translate(10%,20%);   opacity: 1 }
    20% { transform: translate(10%,20%);   opacity: 1 }
    60% { transform: translate(10%,0%);    opacity: 1 }
    100%{ transform: translate(10%,0%);    opacity: 0 }
}

scrollable .finger { animation: finger 3s infinite }
scrollable .finger path{fill:#fff; stroke:#ccc}
.night scrollable .finger path{fill:#222; stroke:#ccc}